<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 align="center"><%= title %></h1>
    <video id="remoteVideo" autoplay></video>
    <video id="localVideo" autoplay muted></video>
    <div>
      <input id="videoCallButton" type="button" disabled value="Video Call"/>
      <input id="endCallButton" type="button" disabled value="End Call"/>
    </div>
  </body>
  <script src="/javascripts/webrtc.js"></script>
  <script>window.addEventListener("load", pageReady);</script>
</html>
